<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body>

    {%- include header.html -%}
	
    <div class="index-block" style = "background-color:rgba(0, 0, 0, 0.1);">
      <div class="wrapper-page">
		<div class="container">
			<div class="column-4">
				<p>
					Courses
				</p>
			</div>
		</div>	
		<div class="container">
			<div class="column-text-6">
				<ul class="text-list">
				  <li class="list-dist">
						<span class="list-item">Bayesian Hierarchical and Latent Variable Modeling (Hertie School) &#8211; 2024</span>
					</li>	
					<li class="list-dist">
						<span class="list-item">Web Scraping and APIs, International Program in Survey and Data Science (University of Mannheim and University of Maryland) &#8211; 2021-Present</span>
					</li>	
					<li class="list-dist">
						<span class="list-item">Web Data Collection with R, University of Konstanz &#8211; 2020</span>
					</li>	
					<li class="list-dist">
						<span class="list-item">Multilevel Modeling, University of Konstanz &#8211; 2018 (co-instructor), 2019 (co-instructor)</span>
					</li>					
				</ul>
			</div>
		</div>			
	  </div>
	</div>
    {%- include footer.html -%}
	<script>
window.onscroll = function() {myFunction()};

var header = document.getElementById("myHeader");
var sticky = header.offsetTop;

function myFunction() {
  if (window.pageYOffset >= sticky) {
    header.classList.add("sticky");
  } else {
    header.classList.remove("sticky");
  }
}
	</script>

  </body>

</html>
